// header
.pg-header {
	position: absolute;
	right: 0;left: 0;
	height: 179px;
	padding-left: 300px;

	&::after {
		content: " ";
		position: absolute;
		right: 0;
		bottom: -25px;
		display: block;
		width: 52vw;
		height: 25px;
		background: linear-gradient(-25deg, color(primary) 10%, color(tertiary) 50%);
	}
}

.logo {
	display: inline-block;
	padding: 28px 38px 38px;
	background-color: color(white);

	img {
		width: 100%;
	}
}