// header
.pg-header {
    display: flex;
	align-items: center;

	position: absolute;
	right: 0;left: 0;

	padding-left: 250px;
	// padding: 10px 10px 10px 260px;
    // background: color(primary);
}

.logo {
	flex: 0 0 240px;

	display: inline-block;
	padding: 8px;
	background-color: color(white);

	img {
		width: 100%;
	}
}