// list
.list {

	&__item {
		padding: 8px 40px;
	}

	&__link {
		font-family: Anton;
		font-size: 32px;
		text-transform: uppercase;
		color: color(white);
		letter-spacing: 2px;
		line-height: 1.2;
	}
}