// teaser
.teaser {
	position: relative;

	&::before {
		content: " ";
		display: block;
		margin: 60px auto;
		width: 50px;
		height: 2px;
		background-color: color(secondary);
	}

	&:first-of-type::before {
		content: none;
	}

	&__heading {
		margin-bottom: 5px;
		padding-left: 0;
	}

	&__txt {

		&_sm {
			display: block;
			margin-bottom: 20px;
			color: rgba(140, 72, 48, .8);
		}
	}
}